.page {
  width: min(1400px, calc(100% - 48px));
  margin: 0 auto;
  padding: 32px 0;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  .heading {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }

  .subheading {
    margin-top: 0.25rem;
    font-weight: 200;
    color: rgb(188, 188, 188);
  }

  .menu-button {
    width: 36px;
    height: 36px;
    min-width: 36px;
    padding: 0;
    display: grid;
    place-items: center;
  }
}

.calendar-day {
  position: relative;
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.calendar-day.has-workout {
  background: rgba(156, 129, 66, 0.2);
}

:host ::ng-deep {
  .header-actions .p-datepicker {
    width: 180px;
  }

  .header-actions .p-datepicker-input {
    background: #1d242e;
    height: 36px;
  }
}
